---
- name: Download MariaDB Connector Java
  ansible.builtin.get_url:
    dest: "{{ connector_install_path }}/mariadb-java-client-{{ connector_version }}.jar"
    group: "{{ connector_group }}"
    mode: "{{ connector_mode }}"
    owner: "{{ connector_owner }}"
    url: https://dlm.mariadb.com/4550269/Connectors/java/connector-java-{{ connector_version }}/mariadb-java-client-{{ connector_version }}.jar

- name: Ensure dependencies are installed
  ansible.builtin.apt:
    name: "{{ connector_dependencies }}"
    state: present
    update_cache: true
  when: connector_dependencies | length > 0
